<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Details</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Your stylesheet -->
    <script defer type="module" src="/js/posts/details.js" defer></script> <!-- Importing details.js -->
</head>
<body>
    <a href="/index.html">Home</a>
    <div id="postsContainer"></div> 
    <div id="post-details"></div>
    <div id="post-container"></div>
<div id="user-profile"></div>
</body>
</html>
