<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Follower posts</title>
</head>
<body>
    <a href="/index.html">Home</a>
    <h1>Follower posts</h1>
    <div id="followed-users-container"></div>
    <div id="posts-container"></div> <!-- This is where posts will be rendered -->
    <script defer type="module" src="/js/posts/postFollow.js"></script>
</body>
</html>