<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Link to your CSS file -->
</head>
<body>
    <div id="profile-container"></div>
    <div id="profile">
        <button id="follow-button">Follow</button>
        <button id="unfollow-button" style="display:none;">Unfollow</button>
    </div>
    <div id="user-posts"></div>
    <script defer type="module" src="/js/user/user.js"></script> <!-- Link to your JavaScript file -->
</body>
</html>
